<h1> Welcome to WhatchaDoin - Virtual nagging</h1><br>
<p>This is an app where team leaders can create groups to track project managment through tasks and nags</p><br>

<p> If you are a team leader go ahead and sign up as an Admin. </p><br>

<p>Note: Only admins can create user profiles. If you would like to explore a user profile please Sign up as an admin and create a user. Then log in as the user you created.</p>
