<h1>Welcome <%= @admin.name %></h1>

<h1>These are your users</h1>
<div>
 <%= collection_select(:user_id, User.all, :id, :name) %>
<!--   NEED TO FIGURE OUT HOW TO PUT LINK_TO 
  IN COLECTION SELECT TO MAKE LINKS TO USER SHOW PAGE! -->

<!-- <h1>These are you current Groups</h1>
<table>
  <thead>
    <tr>
      <th>Group</th>
      <th>Group ID</th>
      <th>User Count</th>
    </tr>
  </thead>

  <tbody>
    <% #@admin.groups.each do |g| %>
      <tr>
        <td><%= g.title %></td>
        <td><%= g.id %></td>
      </tr>
    <% #end %>
  </tbody>
</table>
 -->