<h1>Welcome <%= @admin.name %></h1><br><br><br>

<big><h1>These are your users</h1></big>
<br>
<ul>
<% @admin.users.each do |user| %>

<li><strong><%= link_to user.name, user_path(user.id) %><strong> - <%= user.id %> </li>
<%= link_to 'Edit', edit_user_path(user.id) %>

<% end %>

</ul>

