<div class="container is-fluid">
  <div class="notification">

<h1> Tasks </h1>

<br><br>

	<% if current_admin.groups.empty? %>
		
		<h1>You have no groups</h1>
		
	<% else %>

			
				<% @tasks.each do |tasks| %>
				<strong>Task: </strong><%= tasks.content %><br>
				<strong>Issued to: </strong><%= tasks.user.name %><br>
				<strong>Due Date: </strong><%= tasks.duedate %><br>
				<%= link_to 'Edit', edit_task_path(tasks.id) %><br>
				<% end %>
				<br><br>	
	<% end %>

</div>
</div>

	