<% if admin_logged_in?%>
<h1>This is <%= @user.name %> profile</h1>

<br><br><br><br><br><br>
<% end %>



<h1>Welcome <%= @user.name %></h1>

<h1>These are your tasks</h1>


<%= link_to 'Edit Profile', edit_user_path(@user.id) %>



